@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts
    {

    <script type="text/javascript">

        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:44316/MyHub")
                .withAutomaticReconnect([1000, 2000, 3000, 10000])
                .build();

            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }

            statusShow();

            connection.start().then(() => {
                statusShow();
                $("#loading").hide();
                connection.invoke("GetNames");
            }).catch((err) => { console.log(err) });

            $("#btnSave").click(() => {
                connection.invoke("SendName", $("#txtName").val())
                    .catch((err) => { console.log(err) });
            })

            connection.on("ReceiveName", (name) => {
                //console.log(name);
                $("#namesList").append(`<li class="list-group-item">${name}</li>`);
            })

            connection.onreconnecting(err => {
                $("#loading").show();
                statusShow();
                console.log(err);
            })

            connection.onreconnected(err => {
                $("#loading").hide();
                statusShow();
                console.log(err);
            })

            connection.on("ReceiveClientCount", (ClientCount) => {
                $("#clientCount").text(ClientCount);
            })

            connection.on("Notify", (countText) => {
                $("#notify").html(`<div class="alert alert-success">${countText}</div>`);
            })

            connection.on("Error", (errorText) => {
                alert(errorText);
            })

            //Yeni client için kendinden önce yapılan işlemlerin gösterilmesi
            connection.on("ReceiveNames", (Names) => {
                $("#namesList").empty();
                Names.forEach((item, index) => {
                    $("#namesList").append(`<li class="list-group-item">${item}</li>`);
                })
            })

            $("#btnroomname").click(() => {
                let name = $("#txtName").val();
                let roomname = $("input[type=radio]:checked").val();

                if (roomname == null) {
                    alert("Lütfen şehir seçimi yapınız");
                }
                else {
                    connection.invoke("SendNameByGroup", name, roomname).catch((err) => {
                        console.log(err);
                    })
                }
            })

            connection.on("ReceiveMessageByGroup", (name, roomId) => {
                let listName;
                if (roomId == 1) {
                    listName = "MersinGroupList"
                }
                else {
                    listName = "AdanaGroupList"
                }
                $(`#${listName}`).append(`<li class="list-group-item">${name}</li>`);
            })

            $("input[type=radio]").change(() => {
                let value = $(`input[type=radio]:checked`).val();
                if (value == "Mersin") {
                    connection.invoke("AddToGroup", value);
                    connection.invoke("RemoveFromGroup", "Adana");
                }
                else {
                    connection.invoke("AddToGroup", value);
                    connection.invoke("RemoveFromGroup", "Mersin");
                }
            })
        })

    </script>
    }
<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" class="form-control" id="txtName" />
        <hr />
        <button class="btn btn-warning" id="btnSave">İsmi Kaydet</button>
        <button class="btn btn-primary" id="btnroomname">Odaya Kişi Ekle</button>
        <div class="alert alert-info mt-2">
            <div class="float-left">
                Bağlantı Durumu:<strong id="conStatus"></strong>
                ,Client Sayısı:<strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="notify"></div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="roomgroup" value="Mersin" />
            <label class="form-check-label">Mersin Grubu</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="roomgroup" value="Adana" />
            <label class="form-check-label">Adana Grubu</label>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-4">
                <h5>Mersin Grubu</h5>
                <ul class="list-group" id="MersinGroupList"></ul>
            </div>
            <div class="col-md-4 offset-2">
                <h5>Adana Grubu</h5>
                <ul class="list-group" id="AdanaGroupList"></ul>
            </div>
        </div>
    </div>
</div>
